---
layout: default
sitemap:
  include: 'yes'
  priority: '1.00'
---
{% include header.html %}
<main>
    {% include slider.html %}
    <!-- 之後再加進 slider 和 service 的中間 include blog_area.html -->
    {% include services.html %}
    <!-- {% include about.html %}
    {% include countdown.html %}
    {% include portfolios.html %}
    {% include testimonials.html %}
    {% include team_members.html %}
    {% include call_to_action.html %} -->
    
    {% include clients.html %}
</main>