<section class="blog-area grey-bg pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center pb-40">
                <div class="section-title service-title">
                    <h2>Migo精選</h2>
                    <!-- <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                        alteration in some form,words which don't look even slightly believable.</p> -->
                </div>
            </div>
        </div>
        
        <div class="row">
                {% for post in site.posts limit:"4" %}
                <div class="col-xl-12 col-lg-12 mb-30">
                    <div class="row">
                        <div class="col-md-3 mb-30 post-img-wrap">
                            <a href="{{site.baseurl}}{{post.url}}">
                                <img src="{{site.baseurl}}{{post.post_image}}" alt="{{post.title}}"/>
                            </a>
                        </div>
                        <div class="col-md-9">
                            <h2 class="blog-title">{{post.title}}</h2>
                            <p class="article-description">{{post.description}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            <!-- <div class="col-xl-3 col-lg-3 col-md-6 mb-30"> -->
                <!-- <div class="blog-wrapper home-blog-wrapper white-bg"> -->
                    <!-- <div class="blog-wrapper"> -->
                    <!-- <div class="blog-thumb">
                        <a href="{{post.url}}">
                            <img src="{{post.post_image}}" alt="{{post.title}}"/>
                        </a>
                    </div> -->
                    <!-- <div class="meta-info">
                        <ul>
                            <li class="posts-time">{{post.date | date_to_long_string}}</li>
                        </ul>
                    </div> -->
                    <!-- <div class="blog-content home-blog"> -->
                    <!-- <div class="features-wrap blog-content home-blog h-limit">
                        <h2 class="blog-title"> -->
                            <!-- <a href="{{post.url}}">{{post.title}}</a> -->
                            <!-- <h4 class="article-title">{{post.title}}</h4>
                        </h2> -->
                        <!-- <p>{{excerpt | truncatewords:"25"}}</p> -->
                        <!-- <p class="article-description">{{post.description}}</p>
                        <a class="readmore btn-bg" href="{{post.url}}">了解更多</a>
                    </div> -->
                    <!-- <div class="link-box home-blog-link">
                        <a href="{{post.url}}">Read More</a>
                    </div> -->
                <!-- </div> -->
            <!-- </div> -->
        </div>
    </div>
</section>