<div class="clients-area pt-50 pb-50">
    <div class="container">
        <div class="row">
            <div class="clients-active owl-carousel">
                <div class="col-sm-12">
                    <div class="single-clients">
                        <img src="{{site.baseurl}}/assets/img/clients/client-1.png" alt="">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="single-clients">
                        <img src="{{site.baseurl}}/assets/img/clients/client-2.png" alt="">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="single-clients">
                        <img src="{{site.baseurl}}/assets/img/clients/client-3.png" alt="">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="single-clients">
                        <img src="{{site.baseurl}}/assets/img/clients/client-4.png" alt="">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="single-clients">
                        <img src="{{site.baseurl}}/assets/img/clients/client-5.png" alt="">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="single-clients">
                        <img src="{{site.baseurl}}/assets/img/clients/client-6.png" alt="">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="single-clients">
                        <img src="{{site.baseurl}}/assets/img/clients/client-7.png" alt="">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="single-clients">
                        <img src="{{site.baseurl}}/assets/img/clients/client-8.png" alt="">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="single-clients">
                        <img src="{{site.baseurl}}/assets/img/clients/client-9.png" alt="">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="single-clients">
                        <img src="{{site.baseurl}}/assets/img/clients/client-10.png" alt="">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="single-clients">
                        <img src="{{site.baseurl}}/assets/img/clients/client-11.png" alt="">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="single-clients">
                        <img src="{{site.baseurl}}/assets/img/clients/client-12.png" alt="">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="single-clients">
                        <img src="{{site.baseurl}}/assets/img/clients/client-13.png" alt="">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="single-clients">
                        <img src="{{site.baseurl}}/assets/img/clients/client-14.png" alt="">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="single-clients">
                        <img src="{{site.baseurl}}/assets/img/clients/client-15.png" alt="">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="single-clients">
                        <img src="{{site.baseurl}}/assets/img/clients/client-16.png" alt="">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="single-clients">
                        <img src="{{site.baseurl}}/assets/img/clients/client-17.png" alt="">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="single-clients">
                        <img src="{{site.baseurl}}/assets/img/clients/client-18.png" alt="">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="single-clients">
                        <img src="{{site.baseurl}}/assets/img/clients/client-19.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>