<footer class="footer-section">
    <div class="container">
        <div class="footer-cta pt-80 pb-20">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="cta-text">
                            <h4>服務據點</h4>
                            <span>新北市新店區建國路276號2樓</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-phone"></i>
                        <div class="cta-text">
                            <h4>聯絡電話</h4>
                            <div><span>TEL | 886-2-8911-5385 ext.8662</span></div>
                            <div><span>FAX | 886-2-8911-5327</span></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="far fa-envelope-open"></i>
                        <div class="cta-text">
                            <h4>電子郵件</h4>
                            <span>service@migocorp.com</span>
                        </div>
                    </div>
                </div>
                <div class="footer-social-area">
                    <a href="/migo-official-website/pages/contact" class="i-facebook">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="/migo-official-website/pages/contact" class="i-line">
                        <img src="{{site.baseurl}}/assets/img/communicationIcons/line_off.png" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="footer-content pt-50 pb-30">
            <div class="footer-pattern">
                <img src="{{site.baseurl}}/assets/img/footer/footer_map.png" alt="">
            </div>
            <div class="row">
                <!-- <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="{{site.url}}"><img src="{{site.baseurl}}/assets/img/logo/footer_logo.png" class="img-fluid" alt="{{site.title}}"></a>
                        </div>
                        <div class="footer-text">
                            <p>Ｍarketing with intelligence</p>
                        </div>
                        <div class="footer-social-icon">
                            <span>Follow us</span>
                            <a href="{{site.facebook_url}}"><i class="fab fa-facebook-f facebook-bg"></i></a>
                            <a href="{{site.twitter_url}}"><i class="fab fa-twitter twitter-bg"></i></a>
                            <a href="{{site.pinterest_url}}"><i class="fab fa-pinterest-p google-bg"></i></a>
                        </div>
                    </div>
                </div> -->
                <div class="col-xl-3 col-lg-3 col-md-3 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>服務項目</h3>
                        </div>
                        <ul>
                            <li><a href="{{site.baseurl}}/pages/services-details#migo-platform">Migo顧客數據平台</a></li>
                            <li><a href="{{site.baseurl}}/pages/services-details#migo-crm-adviser">品牌／行銷專屬顧問</a></li>
                            <li><a href="{{site.baseurl}}/pages/services-details#migo-data-service">數據整合服務</a></li>
                            <li><a href="{{site.baseurl}}/pages/services-details#migo-crm-marketing-operating">數據生態鏈</a></li>
                            <!-- <li><a href="#">Contact</a></li>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Our Services</a></li>
                            <li><a href="#">Expert Team</a></li>
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">Latest News</a></li> -->
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 mb-30">
                    <div class="footer-widget">
                        <h3><a href="#">最新消息</a></h3>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 mb-30">
                    <div class="footer-widget">
                        <h3><a href="{{site.baseurl}}/pages/about">關於我們</a></h3>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 mb-30">
                    <div class="footer-widget">
                        <h3><a href="#">人才招募</a></h3>
                    </div>
                </div>
                <!-- <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Subscribe</h3>
                        </div>
                        <div class="footer-text mb-25">
                            <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
                        </div>
                        {% include subscribe.html %}
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>&copy; 2020 Migo Corporation. All rights reserved. Terms & Privacy.</p>
                    </div>
                </div>
                <!-- <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                    <div class="footer-menu">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Policy</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</footer>