<section class="slider-area">
    <div class="slider-active">
        <div class="single-slider">
            <a href="https://fable.com.tw/event/2021" target="_blank">
                <img src="{{site.baseurl}}/assets/img/slider/1217.png" class="img-fluid" style="margin-left: auto;
                margin-right: auto;
                vertical-align: middle;">
            </a>

        </div>
        <div class="single-slider">
            <a>
                <img src="{{site.baseurl}}/assets/img/slider/OOD_Final.jpg" class="img-fluid" style="margin-left: auto;
                margin-right: auto;
                vertical-align: middle;">
            </a>
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content" style="position: relative;bottom: 100px;">
                            <a href="pages/contact" class="btn btn-fixR1" data-animation="fadeInUp"
                                data-delay=".6s">聯絡我們</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div> 
            <a href="pages/seminar_signup" target="_self" ><img src="/assets/img/slider/seminar20210705.jpg" class="img-fluid" style="
            margin-left: auto;
            margin-right: auto;
            vertical-align: middle;"/></a>
        </div>-->
        <div class="single-slider slider-bg d-flex align-items-center"
            style="background-image:url({{site.baseurl}}/assets/img/slider/slider1.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content">
                            <h1 data-animation="fadeInDown" data-delay=".2s">掌握數據關鍵，創造以人為本的行銷謀略</h1>
                            <p data-animation="fadeInLeft" data-delay=".4s">
                                Migo認為，每筆數據都是消費者行為決策的痕跡。
                            </p>
                            <p class="lineH" data-animation="fadeInLeft" data-delay=".4s">
                                做為品牌的數據經營夥伴，我們永遠走在品牌前面，​
                                <br /><br />
                                挖掘並整合數據背後的故事，掌握消費者心理，​
                                <br /><br />
                                透過運用分析，開拓各種行銷可能性。
                            </p>
                            <p data-animation="fadeInLeft" data-delay=".4s">
                                Migo，讓你的策略始終領先消費者思維。
                            </p>
                            <a href="pages/contact" class="btn btn-fixR" data-animation="fadeInUp"
                                data-delay=".6s">創造行銷新契機​</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <a href="https://careers.test.shopee.sg/codeleague/" target="_blank">
            <div class="single-slider slider-bg d-flex align-items-center slider-opacity-light" style="background-image:url({{site.baseurl}}/assets/img/slider/slider4.png)"></div>  
        </a>-->
    </div>


</section>