---
layout: page
---

<div class="services-area pt-100 pb-65">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4">
             <div id="service-sidebar" class="service-sidebar mb-50">
                <div class="sidebar-link grey-bg">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="#">Business Planning</a></li>
                        <li><a href="#">Financial Planning</a></li>
                        <li><a href="#">Market Analysis</a></li>
                        <li><a href="#">Banking Consulting</a></li>
                        <li><a href="#">Creative Thinking</a></li>
                        <li><a href="#">Construction Consulting</a></li>
                    </ul>
                </div>
            </div>
            </div>
            <div class="col-xl-8 col-lg-8">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="service-details mb-40">
                            {% if page.image %}
                             <img class="mb-30" src="{{page.image}}" alt="{{page.title}}">
                            {% endif %}
                        </div>
                        {{content}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>